[Desktop Entry]
Type=Application
Name=MachCtrl
GenericName=Hardware Monitor
Comment=Monitor de hardware estilo MachCtrl para CachyOS
Exec=machctrl
Icon=machctrl
Terminal=false
Categories=Utility;System;Monitor;
StartupWMClass=MachCtrl
