[Desktop Entry]
Type=Application
Name=Sensei
GenericName=Hardware Monitor
Comment=Monitor de hardware estilo Sensei para CachyOS
Exec=sensei
Icon=sensei
Terminal=false
Categories=Utility;System;Monitor;
StartupWMClass=Sensei
